In [39]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [25]:
df=pd.read_csv("C:/Users/delll/Desktop/Python/DataSets/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [26]:
col=['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked']
df.drop(col,axis=1,inplace=True)

In [27]:
df.isnull().sum()

Survived     0
Pclass       0
Sex          0
Age         86
Fare         1
dtype: int64

In [28]:
df["Age"]=df["Age"].fillna(np.mean(df["Age"]))

In [29]:
df.dropna(inplace=True)

In [30]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [31]:
inputs=df.drop("Survived",axis=1)
target=df["Survived"]

In [32]:
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  34.5   7.8292
1       3  female  47.0   7.0000
2       2    male  62.0   9.6875
3       3    male  27.0   8.6625
4       3  female  22.0  12.2875

In [33]:
le=LabelEncoder()
inputs["Sex"]=le.fit_transform(inputs["Sex"])

In [13]:
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  34.5   7.8292
1       3    0  47.0   7.0000
2       2    1  62.0   9.6875
3       3    1  27.0   8.6625
4       3    0  22.0  12.2875

In [34]:
inputs.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [41]:
x_train,x_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [42]:
model=DecisionTreeClassifier()

In [43]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [44]:
y_pred=model.predict(x_test)
y_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [45]:
accuracy=accuracy_score(y_test,y_pred)
print(accuracy)

1.0

In [47]:
pd.crosstab(y_test,y_pred,rownames=["Actual"],colnames=["Predicted"])

Predicted   0   1
Actual
0          58   0
1           0  26

In [49]:
model.predict([[3,1,34.5,7.8292]])

C:\ProgramData\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)